# OSX
#
.DS_Store

# Xcode
#
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
project.xcworkspace
Pods/

# Android/IntelliJ
#
build/
.idea
.gradle
local.properties
*.iml

# VSCode
#
.vscode/

# node.js
#
node_modules/
npm-debug.log
yarn-error.log
build/

# vim
#
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]

# Build
#
dist/

# Proprietary
#
android/libs/MedMDeviceKit.aar
ios/Frameworks/MedMDeviceKit.framework